<article class="teaser">
  <div class="teaser__image">
    {% if teaser.urlToImage %}
      <img src="{{ teaser.urlToImage }}">
    {% endif %}
  </div>
  <a class="teaser__title" href="{{ teaser.url }}">
    <h1>
      {{ teaser.title }}
    </h1>
  </a>
  <p class="teaser__published">{{ teaser.publishedAt | dateFormat }}</p>
  {% if teaser.source and teaser.source.name %}
    <a class="teaser__source" href="//{{ teaser.source.name }}" rel="author">{{ teaser.source.name }}</a>
  {% endif %}
  <p>
    {{ teaser.description }}
  </p>
</article>
