<!DOCTYPE html>
<html lang="sv">
<head>
  <title>{% block title %}Simple-News{% endblock %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="msapplication-TileColor" content="#555">
  <meta name="msapplication-TileImage" content="/images">

  {% block seo %}
    <meta name="robots" content="noarchive">
  {% endblock %}

  <meta name="navId" content="{{content.id}}">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
  <link rel="manifest" href="/assets/site.webmanifest">
  <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#555">

  <style>
  /* CSS RESET */
  h1,h2,h3,h4,
  p, span, pre, code, body {
    margin: 0;
    padding: 0;
  }

  /* LAYOUT */
  body {
    font-family: monospace;
  }

  body * {
    box-sizing: border-box;
  }

  .section {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
  }

  header {
    padding: 5px;
    border-bottom: solid 1px mediumseagreen;
  }

  .topic {
    color: mediumseagreen;
    text-transform: uppercase;
    padding: 5px;
    display: inline-block;
  }

  .pagination {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #ccc;
  }
  .pagination--single {
    justify-content: space-around;
  }

  .site-body {
    padding: 10px 10px 0 10px;
  }
  .site-footer {
    padding: 10px;
    color: #999;
    text-align: center;
    font-size: 10px;
    background-color: #f2f2f2;
  }

  /* TEASER STYLES */

  .teaser {
    flex: 0 0 100%;

    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: 100px auto;
    grid-template-rows: auto;
    grid-template-areas:
      "photo title"
      "meta preamble"
      "meta preamble";

    padding: 10px;
    color: #555;
    border-bottom: dashed 2px #888;
  }

  .teaser:nth-of-type(1) {
    font-size: 1.2em;
  }

  @media screen and (max-width: 900px) {
    .teaser:nth-of-type(9n+9),
    .teaser:nth-of-type(9n+10) {
      flex: 0 0 50%;
    }

    .teaser:nth-of-type(9n+9) {
      border-right: dashed 2px #888;
    }

    .teaser__image {
      flex: 0 0 100px;
      text-align: center;
      background-color: rgba(200,200,200,0.2);
    }

  }

  @media screen and (min-width: 901px) {
    .teaser {
      flex: 0 0 50%;
    }

    .teaser:nth-of-type(odd) {
      border-right: dashed 2px #888;
    }

    .teaser__image {
      float: right;
    }
  }

  .teaser a {
    color: #555;
    text-decoration: none;
  }

  .teaser__title {
    grid-area: title;
  }

  .teaser__title:hover {
    color: mediumseagreen;
    border-bottom: solid 2px mediumseagreen;
  }

  .teaser__published {
    font-size: 10px;
    color: #888;
    grid-area: meta;
  }

  a.teaser__source {
    font-size: 10px;
    color: mediumseagreen;
    grid-area: meta;
  }

  .teaser__image {
    max-width: 100px;
    margin-right: 10px;
    grid-area: photo;
  }

  .teaser img {
    width: 100%;
    max-height: 100px;
  }

  </style>

  {% block head %}{% endblock %}
</head>
<body>
  <div class="site-wrapper">
    <div class="site-body">
      {% block body %}{% endblock %}
    </div>
    {% include "partials/siteFooter.njk" %}
  </div>
</body>
</html>
