{% extends "./layouts/default.njk" %}
{% block content %}
  <header>
      {% include "partials/topics.njk" %}
  </header>
  <section class="section">
    {% for teaser in content.articles %}
      {% include "partials/teaser.njk" %}
    {% endfor %}
  </section>
  {% include "partials/pagination.njk" %}

{% endblock %}

